<style>
  #menu-drawer {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: min(500px, 100%);
    height: calc(100vh - var(--header-height));
    transform: translateX(-100%);
    z-index: -1;
    transition: 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: calc(var(--header-height) + 29px);
  }
  #header-drawer #menu-drawer.drawer-open {
    transform: translateX(0);
  }
 
  #header-drawer .header-drawer_icons.drawer-open svg.icon-menu,
  #header-drawer .header-drawer_icons:not(.drawer-open) svg.icon-close {
    display: none;
  }
  #menu-drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #menu-drawer li {
    width: 100%;
    overflow: hidden;
  }
  #menu-drawer a,
  #menu-drawer .menu-toggle {
    display: flex;
    gap: 10px;
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 12px 18px;
    text-decoration: none;
    width: 100%;
    color: inherit;
  }
  #menu-drawer li.grandchild-link a, #menu-drawer .menu-toggle.childlink-block{
    padding: 11px 12px;
  }
  #menu-drawer li.grandchild-link ,#menu-drawer .child-link--wrapper li.childlink-block{
    padding-left: 18px;
  }
  .menu-drawer_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid rgb(var(--color-foreground), 0.2);
    padding: 15px 20px;
  }
  .menu-drawer_action a {
    border: 0 !important;
    justify-content: flex-end;
  }
  .menu-drawer_localization {
    display: flex;
  }
  .menu-drawer_localization .localization-wrapper {
    position: relative;
    padding: 12px 6px;
    border: 1px solid rgb(var(--color-foreground), 0.2);
    margin-right: 10px;
  }
  .menu-drawer_localization .localization-list {
    top: unset;
    left: -1px;
    bottom: 100%;
    width: 100%;
    box-shadow: none;
    border: 1px solid rgb(var(--color-foreground), 0.2);
  }
</style>

<div
  id="header-drawer" x-data="{ drawerOpen: false }" @click.outside="drawerOpen = false" x-effect="document.body.classList.toggle('overflow-hidden', drawerOpen);document.body.classList.toggle('drawer-open', drawerOpen);">
  <button
    class="header-drawer_icons"
    @click="drawerOpen = !drawerOpen"
    :class="{ 'drawer-open': drawerOpen }"
  >
    {{- 'custom-icon-menu.svg' | inline_asset_content -}}
    {{- 'icon-close.svg' | inline_asset_content -}}
  </button>
  <div id="menu-drawer" class="color-{{ section.settings.menu_color_scheme }} gradient" :class="{ 'drawer-open': drawerOpen }">
    {% render 'component-nav-dropdown', nav_style: 'drawer' %}
     {% if section.settings.enable_social_icons_mobile == true %}
      <div class="social-icons--wrapper">
        {% render 'menu-drawer-socials' %}
      </div>
    {% endif %}
  </div>
</div>
